# VSCode
.vscode

# Configs
.k8s-configs
.env
.helm-config

# Logs
*.log

# Misc
exports/
user/
volumes/
Grafana/

# IntelliJ
.idea/

# Python
venv/
*.pyc
*.pyo
*.pyd
*__pycache__*
.pytest_cache
.coverage